.categoria__container {
    display: flex;
    justify-content: space-between;
  }
  
  .categoria {
    font-family: "Lato";
    padding-top: 5rem;
    padding-left: 8rem;
    padding-right: 8rem;
  }
  
  .categoria h3 {
    font-size: 25px;
    border-bottom: solid;
    padding-bottom: 2rem;
    text-align: left;
    font-weight: 900;
  }
  
  .categoria a {
    width: 100%;
    height: 275px;
    margin: 0 2rem;
    cursor: pointer;
    font-weight: 900;
    font-size: 30px;
    transition: 0.3ms;
    text-decoration: none;
    margin-top: 4rem;
  }
  
  .categoria a:hover {
    opacity: 0.7;
  }
  
  .categoria h4 {
    padding-right: 2rem;
    padding-top: 2rem;
    text-align: right;
  }
  
  .categoria img {
    margin-top: 2rem;
    margin-left: 2rem;
    text-align: left;
  }
  
  .categoria__amarelo {
    color: #000000;
    background-color: #f8a912;
    border-radius: 0px 50px 50px 50px;
  }
  
  .categoria__preto {
    color: #ffffff;
    background-color: #1e0202;
    border-radius: 50px 50px 0px 50px;
  }
  
  .categoria__vermelho {
    color: #ffffff;
    background-color: #bd2d16;
    border-radius: 50px 0px 50px 50px;
  }
  /*=============== Responsividade =============*/
  @media (max-width: 360px) {
    .categoria__container {
      flex-direction: column;
    }
  
    .categoria {
      padding-top: 1rem;
    }
  
    .categoria h3 {
      font-size: 15px;
      border-bottom: solid;
      text-align: center;
      font-weight: 900;
    }
  
    .categoria a {
      width: 350px;
      height: 350px;
      margin: 0 1rem;
      cursor: pointer;
      font-size: 18px;
      transition: 0.3ms;
      margin-top: 1rem;
    }
  
    .categoria a:hover {
      opacity: 0.7;
    }
  
    .categoria a img {
      width: 250px;
      height: 250px;
    }
  
    .categoria h4 {
      text-align: center;
    }
  
    .categoria img {
      margin-top: 2rem;
      margin-left: 2rem;
      text-align: center;
    }
  }
  
  @media (max-width: 630px) {
    .categoria__container {
      flex-direction: column;
    }
  
    .categoria {
      padding-top: 0.5rem;
      padding-left: 4rem;
    }
  
    .categoria h3 {
      margin-top: 12px;
      font-size: 18px;
      border-bottom: solid;
      text-align: left;
      font-weight: 700;
    }
  
    .categoria a {
      width: 250px;
      height: 250px;
      margin: 0 1rem;
      cursor: pointer;
      font-weight: 400;
      font-size: 12px;
      transition: 0.4ms;
      margin-top: 1rem;
    }
  
    .categoria a:hover {
      opacity: 0.5;
    }
  
    .categoria a img {
      width: 120px;
      height: 120px;
    }
  
    .categoria h4 {
      text-align: center;
    }
  
    .categoria img {
      margin-top: 2rem;
      margin-left: 2rem;
      text-align: center;
    }
  }

  .produtos {
	padding: 5rem 8rem;
	font-family: 'Lato';
	text-align: center;
}

.alignProdutos {
	display: flex;
	justify-content: center;
}

.produtos__container {
	text-align: flex-start;
	display: flex;
	flex-wrap: wrap;
	margin-top: 4rem;
	margin-bottom: 4rem;
	justify-content: space-between;
}

.produto__container {
	padding: 1rem;
	justify-self: flex-start;
}

.produto__container:hover {
	background-color: #f3f0eb70;
	border-radius: 10px;
}

.produtos h3 {
	font-size: 25px;
	border-bottom: solid;
	padding-bottom: 2rem;
	text-align: left;
	font-weight: 900;
}

li {
	list-style: none;
}

.produto__img {
	position: relative;
	display: inline-block;
}

.foto {
	border-radius: 10px;
	width: 16.813rem;
	height: 17.125rem;
}

.icone {
	position: absolute;
	top: 80%;
	right: 2%;
	background-color: #ffffff;
	border-radius: 50px;
}

.icone:hover {
	background-color: #f3f0eb70;
}

.produto__conteudo {
	text-align: start;
}

.produto__nome {
	font-weight: 700;
	font-size: 18px;
	margin-top: 1rem;
}

.produto__descricao {
	font-weight: 400;
	font-size: 15px;
	color: #8b8b8b;
	margin-top: 0.4rem;
}

.produto__valor {
	font-weight: 900;
	font-size: 20px;
	line-height: 24px;
	margin-top: 1rem;
}

.produtos__botao {
	background-color: #000000;
	color: #ffffff;

	padding: 0.5rem 1.5rem;
	cursor: pointer;
	text-decoration: none;
	transition: 15ms;
}

.produtos__botao:hover {
	background-color: #606060;
}

hr {
	padding: 0;
	margin: 0;
}

.amarelo {
	border-top: 6px solid #f8a912;
}

.vermelho {
	border-top: 6px solid #bd2d16;
}

.preto {
	border-top: 6px solid #1e0202;
}

/*=============== Responsividade =============*/
@media (max-width: 360px) {
	.produtos h3 {
		margin-top: 1rem;
		font-size: 15px;
		border-bottom: solid;
		text-align: left;
		font-weight: 700;
	}

	.produtos__botao {
		font-size: 15px;
	}
}
@media (max-width: 630px) {
	.produtos h3 {
		margin-top: 1rem;
		font-size: 18px;
		border-bottom: solid;
		text-align: left;
		font-weight: 700;
	}

	.produtos__botao {
		font-size: 10px;
		padding: 0.5rem;
	}
}

.swiper-slide img {
    width: 100%;
  }
  
  .swiper-slide {
    /* display: inline-block; */
    position: relative;
  }
  
  .conteudo {
    width: 40%;
    font-family: "Lato";
    position: absolute;
    text-align: left;
    top: 30%;
    right: 1%;
    color: #000000;
  }
  
  .conteudo-um {
    font-size: 20px;
  }
  
  .conteudo h2 {
    font-weight: 900;
    font-size: 64px;
    margin: auto;
    padding-top: 1rem;
  }
  
  .conteudo-dois {
    font-size: 24px;
    word-break: normal;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
  
  .conteudo a {
    background-color: #000000;
    color: #ffffff;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-decoration: none;
  }
  
  .conteudo a:hover {
    background-color: #606060;
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    color: #000000 !important;
  }
  
  .swiper-pagination {
    position: absolute;
    margin: 0.5em 0;
  }
  
  .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #000000 !important;
  }
  
  .swiper-pagination-bullet {
    width: 28px !important;
    height: 5px !important;
    display: inline-block !important;
    border-radius: 5% !important;
  }
  
  /*=============== Responsividade =============*/
  @media (max-width: 630px) {
    .swiper-slide img {
      width: 100%;
    }
    .conteudo {
      width: 40%;
      font-family: "Lato";
      position: absolute;
      text-align: left;
    }
    .conteudo-um {
      font-size: 18px;
    }
  
    .conteudo h2 {
      font-weight: 900;
      font-size: 25px;
      margin: auto;
      padding-top: 1rem;
    }
  
    .conteudo-dois {
      /* font-size: 14px;
      word-break: inherit;
      padding-top: 1rem;
      padding-bottom: 1rem; */
      display: none;
    }
  
    .conteudo a {
      font-size: 9px;
      background-color: #000000;
      color: #ffffff;
      padding: 0.4rem 0.4rem;
      cursor: pointer;
    }
  }
  
  @media (max-width: 350px) {
    .swiper-slide img {
      width: 100%;
    }
    .conteudo {
      width: 40%;
      font-family: "Lato";
      position: absolute;
      text-align: left;
      top: 30%;
      right: 1%;
    }
    .conteudo-um {
      font-size: 12px;
    }
  
    .conteudo h2 {
      font-weight: 700;
      font-size: 1px;
      margin: auto;
      padding-top: 0.5rem;
    }
  
    .conteudo-dois {
      /* font-size: 14px;
          word-break: inherit;
          padding-top: 1rem;
          padding-bottom: 3rem; */
      display: none;
    }
  
    .conteudo a {
      font-size: 14px;
      background-color: #000000;
      color: #ffffff;
      padding: 0.3rem 0.3rem;
      cursor: pointer;
    }
  }
  